/* Body Layout CSS Rules */
body {
  display: grid;
  grid-template-columns: 0.2fr repeat(2, 1fr);
  grid-template-rows: 0.5fr repeat(2, 1fr);
  grid-template-areas: "header header header"
                       "list body body"
                       "form body body"                                          
  ;
  /* grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr); */
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(199deg, #AB2F2F 0%, #fff 100%);
}

/* Responsive layout for the Body (Responsive Grid Design) : When the screen is less than 800px then it will rearrange the body elements so it can be viewed vertically*/
@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 0.1fr 1fr;
    grid-template-areas:
      "header"
      "list"
      "form"
      "body"
      ;
  }
}

/* ********************************************************************************************************************************************************* */

/* The top Header CSS Rules and Design */
#top-header {
  border: 1px solid black;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  grid-area: header;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}
#header-text {
  margin: 5% 0 0 5%;
  font-size: 5em;
}
#top-header #create-new {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 5% 5% 0 0;
  border: none;
  cursor: pointer;
  background-color: transparent;

}

/* ********************************************************************************************************************************************************* */

/* The List Design and Rules */
#list-nav {
  border: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-size: 2rem;
  text-align: center;

  grid-area: list;
}

/* ********************************************************************************************************************************************************* */

/* The Form Design and Rules */
#form-nav {
  border: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  font-size: 2rem;
  text-align: center;
  grid-area: form;
  background-color: transparent;
}

/* ********************************************************************************************************************************************************* */

/* The Event Container */
#container {
  border: 1px solid black;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  overflow: auto;
  color: black;
  grid-area: body;
  display: flex;
  flex-flow: wrap;
  text-align: center;
}
/* Events (called items in the HTML document) */
.item {
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 10px;
}

/* ********************************************************************************************************************************************************* */

/* Form Rules */
form {
  width: 100%;
  padding: 5%;
  margin: 5%;
}

input[type=text], input[type=date], textarea {
  padding: 5%;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  padding: 2rem ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  background-color: #eee;
  border: 1px solid black;
  
}

.col {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px;
}

.cancel {
  text-decoration: none;
  padding: 2rem ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  background-color: #eee;
  border: 1px solid black;
}

#submit-cancel {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* ********************************************************************************************************************************************************* */

/* General Rules */
#list, #form-button {
  text-decoration: none;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 0.6em;
  background-color: transparent;
}

* {
  font-family: 'Edu VIC WA NT Beginner', cursive;
}